
<!--&lt;!&ndash; templates/dashboard.html &ndash;&gt;-->
<!--<!DOCTYPE html>-->
<!--<html lang="en">-->

<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <title>Copy Trading - Positions</title>-->

<!--  <link rel="stylesheet"-->
<!--        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">-->
<!--</head>-->


<!--<body>-->


<!--<nav class="navbar navbar-expand-lg navbar-dark bg-primary">-->

<!--  <div class="container-fluid">-->

<!--    <a class="navbar-brand fw-bold">-->
<!--      Copy Trading-->
<!--    </a>-->


<!--    <ul class="navbar-nav ms-auto">-->

<!--      <li class="nav-item">-->
<!--        <a class="nav-link" href="/">-->
<!--          Client List-->
<!--        </a>-->
<!--      </li>-->


<!--      <li class="nav-item">-->
<!--        <a class="nav-link active" href="/dashboard">-->
<!--          Positions-->
<!--        </a>-->
<!--      </li>-->

<!--    </ul>-->

<!--  </div>-->

<!--</nav>-->



<!--<div class="container mt-4">-->


<!--<div class="card shadow">-->


<!--<div class="card-header bg-primary text-white">-->
<!--    Copy Trading - Positions-->
<!--</div>-->


<!--<div class="card-body">-->


<!--<button onclick="cancelSelected()"-->
<!--        class="btn btn-danger mb-3">-->

<!--    CANCEL SELECTED-->

<!--</button>-->



<!--<table class="table table-striped table-hover">-->


<!--<thead class="table-dark">-->


<!--<tr>-->

<!--<th>-->
<!--<input type="checkbox"-->
<!--       id="selectAll"-->
<!--       onclick="toggleAll(this)">-->
<!--</th>-->


<!--<th>Client ID</th>-->

<!--<th>Symbol</th>-->

<!--<th>Side</th>-->

<!--<th>Qty</th>-->

<!--<th>Entry</th>-->

<!--<th>LTP</th>-->

<!--<th>SL</th>-->

<!--<th>Target</th>-->

<!--<th>PnL</th>-->

<!--<th>Status</th>-->


<!--</tr>-->


<!--</thead>-->



<!--<tbody id="positionTable">-->


<!--{% for pos in positions %}-->


<!--<tr>-->


<!--<td>-->
<!--<input type="checkbox"-->
<!--       class="positionCheck"-->
<!--       data-client="{{pos.client_id}}"-->
<!--       data-order="{{pos.app_order_id}}">-->
<!--</td>-->


<!--<td>{{pos.client_id}}</td>-->

<!--<td>{{pos.symbol}}</td>-->

<!--<td>{{pos.side}}</td>-->

<!--<td>{{pos.qty}}</td>-->

<!--<td>{{pos.entry_price}}</td>-->


<!--<td id="ltp-{{pos.app_order_id}}">-->
<!--{{pos.ltp}}-->
<!--</td>-->


<!--<td>{{pos.sl}}</td>-->

<!--<td>{{pos.target}}</td>-->


<!--<td id="pnl-{{pos.app_order_id}}">-->
<!--{{pos.pnl}}-->
<!--</td>-->


<!--<td>-->
<!--{{pos.status}}-->
<!--</td>-->


<!--</tr>-->


<!--{% endfor %}-->


<!--</tbody>-->


<!--</table>-->


<!--</div>-->

<!--</div>-->


<!--</div>-->




<!--<script>-->


<!--function toggleAll(source){-->

<!--    let checkboxes =-->
<!--        document.getElementsByClassName("positionCheck");-->


<!--    for(let checkbox of checkboxes){-->

<!--        checkbox.checked = source.checked;-->

<!--    }-->

<!--}-->




<!--async function refreshPositions(){-->


<!--    try{-->


<!--        const response =-->
<!--            await fetch("/positions-data");-->


<!--        const positions =-->
<!--            await response.json();-->



<!--        for(let pos of positions){-->


<!--            let ltp =-->
<!--                document.getElementById(-->
<!--                    "ltp-" + pos.app_order_id-->
<!--                );-->


<!--            let pnl =-->
<!--                document.getElementById(-->
<!--                    "pnl-" + pos.app_order_id-->
<!--                );-->


<!--            if(ltp){-->

<!--                ltp.innerText = pos.ltp;-->

<!--            }-->


<!--            if(pnl){-->

<!--                pnl.innerText = pos.pnl;-->

<!--            }-->


<!--        }-->



<!--    }-->
<!--    catch(error){-->

<!--        console.log(-->
<!--            "Position refresh error:",-->
<!--            error-->
<!--        );-->

<!--    }-->


<!--}-->



<!--setInterval(-->
<!--    refreshPositions,-->
<!--    2000-->
<!--);-->





<!--async function cancelSelected(){-->


<!--    let selected = [];-->


<!--    let checkboxes =-->
<!--        document.getElementsByClassName(-->
<!--            "positionCheck"-->
<!--        );-->



<!--    for(let checkbox of checkboxes){-->


<!--        if(checkbox.checked){-->


<!--            selected.push({-->

<!--                client_id:-->
<!--                    checkbox.dataset.client,-->


<!--                app_order_id:-->
<!--                    checkbox.dataset.order-->

<!--            });-->


<!--        }-->


<!--    }-->



<!--    if(selected.length === 0){-->

<!--        alert(-->
<!--            "Please select positions"-->
<!--        );-->

<!--        return;-->

<!--    }-->



<!--    await fetch(-->
<!--        "/cancel-selected",-->
<!--        {-->

<!--            method:"POST",-->

<!--            headers:{-->
<!--                "Content-Type":"application/json"-->
<!--            },-->


<!--            body:-->
<!--                JSON.stringify({-->

<!--                    positions:selected-->

<!--                })-->

<!--        }-->
<!--    );-->



<!--    alert(-->
<!--        "Cancel request sent"-->
<!--    );-->


<!--}-->


<!--</script>-->


<!--</body>-->

<!--</html>-->

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <title>Copy Trading Dashboard</title>

    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
            rel="stylesheet">

</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">

    <div class="container-fluid">

        <a class="navbar-brand fw-bold">

            Copy Trading Dashboard

        </a>

        <ul class="navbar-nav ms-auto">

            <li class="nav-item">

                <a class="nav-link" href="/">

                    Client List

                </a>

            </li>

            <li class="nav-item">

                <a class="nav-link active" href="/dashboard">

                    Dashboard

                </a>

            </li>

        </ul>

    </div>

</nav>



<div class="container mt-4">




    <!-- ========================================= -->
    <!-- MASTER POSITIONS -->
    <!-- ========================================= -->



    <!-- ========================================= -->
<!-- MASTER -->
<!-- ========================================= -->

<div class="card shadow mb-4">

    <div class="card-header bg-success text-white">

        <div class="d-flex justify-content-between align-items-center">

            <div>

                <button
                        class="btn btn-light btn-sm me-2"
                        onclick="showMasterOrders()">

                    Master Orders

                </button>

                <button
                        class="btn btn-outline-light btn-sm"
                        onclick="showMasterPositions()">

                   Master Positions

                </button>

            </div>

        </div>

    </div>

    <div class="card-body">

        <!-- ========================= -->
        <!-- MASTER ORDERS -->
        <!-- ========================= -->

        <div id="masterOrdersSection">

            <table class="table table-bordered table-hover">

                <thead class="table-dark">

                <tr>

                    <th>Master Order ID</th>

                    <th>Symbol</th>

                    <th>Side</th>

                    <th>Qty</th>

                    <th>Entry</th>

                    <th>Status</th>

                </tr>

                </thead>

                <tbody id="masterTable">

                {% for pos in master_positions %}

                <tr>

                    <td>{{pos.app_order_id}}</td>

                    <td>{{pos.symbol}}</td>

                    <td>{{pos.side}}</td>

                    <td>{{pos.qty}}</td>

                    <td>{{pos.entry_price}}</td>

                    <td>{{pos.status}}</td>

                </tr>

                {% endfor %}

                </tbody>

            </table>

        </div>

        <!-- ========================= -->
        <!-- MASTER POSITIONS -->
        <!-- ========================= -->

        <div id="masterPositionsSection" style="display:none;">

            <table class="table table-bordered table-hover">

                <thead class="table-dark">

                <tr>

                    <th>Symbol</th>

                    <th>Side</th>

                    <th>Qty</th>

                    <th>Entry</th>

                    <th>LTP</th>

                    <th>PnL</th>

                    <th>Status</th>

                </tr>

                </thead>

                <tbody id="masterCopyPositionTable">

                </tbody>

            </table>

        </div>

    </div>

</div>



<!-- ========================================= -->
<!-- FOLLOWER ORDERS / COPY POSITIONS -->
<!-- ========================================= -->

<div class="card shadow">

    <div class="card-header bg-primary text-white">

        <div class="d-flex justify-content-between align-items-center">

            <div>

                <button
                        class="btn btn-light btn-sm me-2"
                        onclick="showOrders()">

                    Follower Orders

                </button>

                <button
                        class="btn btn-outline-light btn-sm"
                        onclick="showPositions()">

                     Follower Positions

                </button>

            </div>

            <button
                    class="btn btn-danger btn-sm"
                    onclick="cancelSelected()">

               Panic Sq.Off

            </button>

        </div>

    </div>

    <div class="card-body">

        <!-- ORDERS -->

        <div id="ordersSection">

            <table class="table table-striped table-hover">

                <thead class="table-dark">

                <tr>

                    <th>
                        <input
                                type="checkbox"
                                id="selectAll"
                                onclick="toggleAll(this)">
                    </th>

                    <th>Master Order</th>
                    <th>Client</th>
                    <th>Follower Order</th>
                    <th>Symbol</th>
                    <th>Side</th>
                    <th>Qty</th>
                    <th>Entry</th>
                    <th>Status</th>

                </tr>

                </thead>

                <tbody id="positionTable">

                {% for pos in positions %}

                <tr>

                    <td>
                        <input
                            type="checkbox"
                            class="positionCheck"
                            data-client="{{pos.client_id}}"
                            data-order="{{pos.app_order_id}}"
                            onchange="toggleSelection(this)">
                    </td>

                    <td>{{pos.master_order_id}}</td>
                    <td>{{pos.client_id}}</td>
                    <td>{{pos.app_order_id}}</td>
                    <td>{{pos.symbol}}</td>
                    <td>{{pos.side}}</td>
                    <td>{{pos.qty}}</td>
                    <td>{{pos.entry_price}}</td>
                    <td>{{pos.status}}</td>

                </tr>

                {% endfor %}

                </tbody>

            </table>

        </div>

        <!-- POSITIONS -->

        <div id="positionsSection" style="display:none;">

            <table class="table table-striped table-hover">

                <thead class="table-dark">

                <tr>
                    <th>
                        <input
                            type="checkbox"
                            id="selectAllPositions"
                            onclick="toggleAll(this)">
                    </th>

                    <th>Client</th>
                    <th>Symbol</th>
                    <th>Side</th>
                    <th>Qty</th>
                    <th>Product</th>
                    <th>Entry</th>
                    <th>LTP</th>
                    <th>PnL</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>

                </thead>

                <tbody id="copyPositionTable">

                {% for pos in copy_positions %}
                <tr>
                    <td>
                        <input
                            type="checkbox"
                            class="positionCheck"
                            data-client="{{pos.client_id}}"
                            data-order="{{pos.app_order_id}}"
                            onchange="toggleSelection(this)">
                    </td>

                    <td>{{pos.client_id}}</td>
                    <td>{{pos.symbol}}</td>
                    <td>{{pos.side}}</td>
                    <td>{{pos.qty}}</td>
                    <td>{{pos.product}}</td>
                    <td>{{pos.entry_price}}</td>
                    <td>{{pos.ltp}}</td>
                    <td>{{pos.pnl}}</td>
                    <td>{{pos.status}}</td>
                    <td class="text-center">
                        <form action="/cancel/{{pos.client_id}}/{{pos.instrument_id}}" method="post" class="d-inline">
                            <button type="submit" class="btn btn-danger btn-sm">Cancel</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}

                </tbody>

            </table>

        </div>

    </div>

</div>
</div>

<script>
let selectedOrders = new Map();
function toggleAll(source){

    let checkboxes =
        document.getElementsByClassName("positionCheck");

    for(let checkbox of checkboxes){

        checkbox.checked = source.checked;

        toggleSelection(checkbox);

    }

}

function toggleSelection(checkbox) {

    const orderId = checkbox.dataset.order;

    if (checkbox.checked) {

        selectedOrders.set(orderId, {
            client_id: checkbox.dataset.client,
            app_order_id: checkbox.dataset.order
        });

    } else {

        selectedOrders.delete(orderId);

    }

}
// =========================================
// MASTER ORDERS + FOLLOWER ORDERS
// =========================================

async function refreshPositions() {

    try {

        const response = await fetch("/positions-data");
        const data = await response.json();

        // ==========================
        // MASTER ORDERS
        // ==========================

        const masterTable =
            document.getElementById("masterTable");

        masterTable.innerHTML = "";

        for (const pos of data.master_positions) {

            masterTable.innerHTML += `

                <tr>

                    <td>${pos.app_order_id}</td>
                    <td>${pos.symbol}</td>
                    <td>${pos.side}</td>
                    <td>${pos.qty}</td>
                    <td>${pos.entry_price}</td>
                    <td>${pos.status}</td>

                </tr>

            `;

        }

        // ==========================
        // FOLLOWER ORDERS
        // ==========================

        const followerTable =
            document.getElementById("positionTable");

        followerTable.innerHTML = "";

        for (const pos of data.positions) {

    followerTable.innerHTML += `

        <tr>

            <td>

                <input
                    type="checkbox"
                    class="positionCheck"
                    data-client="${pos.client_id}"
                    data-order="${pos.app_order_id}"
                    ${selectedOrders.has(pos.app_order_id) ? "checked" : ""}
                    onchange="toggleSelection(this)">

            </td>

            <td>${pos.master_order_id}</td>
            <td>${pos.client_id}</td>
            <td>${pos.app_order_id}</td>
            <td>${pos.symbol}</td>
            <td>${pos.side}</td>
            <td>${pos.qty}</td>
            <td>${pos.entry_price}</td>
            <td>${pos.status}</td>
<!--            <td>-->
<!--  <form action="/cancel/${pos.client_id}/${pos.app_order_id}" method="post">-->
<!--    <button type="submit" class="btn btn-danger btn-sm">Cancel</button>-->
<!--  </form>-->
<!--</td>-->

        </tr>

    `;

}
    }

    catch(error){

        console.log(error);

    }

}

// =========================================
// FOLLOWER COPY POSITIONS
// =========================================

async function refreshCopyPositions(){

    try{

        const response =
            await fetch("/copy-positions");

        const positions =
            await response.json();

        const table =
            document.getElementById("copyPositionTable");

        table.innerHTML = "";

        for(const pos of positions){

            table.innerHTML += `

                <tr>

                    <td>${pos.client_id}</td>
                    <td>${pos.symbol}</td>
                    <td>${pos.side}</td>
                    <td>${pos.qty}</td>
                    <td>${pos.product}</td>
                    <td>${pos.entry_price}</td>
                    <td>${pos.ltp}</td>
                    <td>${pos.pnl}</td>
                    <td>${pos.status}</td>
                   <td>${pos.status}</td>
<td class="text-center">
  <form action="/cancel/${pos.client_id}/${pos.instrument_id}" method="post" class="d-inline">
    <button type="submit" class="btn btn-danger btn-sm">Cancel</button>
  </form>
</td>


                </tr>

            `;

        }

    }

    catch(error){

        console.log(error);

    }

}

// =========================================
// MASTER COPY POSITIONS
// =========================================

async function refreshMasterPositions(){

    try{

        const response =
            await fetch("/master-copy-positions");

        const positions =
            await response.json();

        const table =
            document.getElementById("masterCopyPositionTable");

        table.innerHTML = "";

        for(const pos of positions){

            table.innerHTML += `

                <tr>

                    <td>${pos.symbol}</td>
                    <td>${pos.side}</td>
                    <td>${pos.qty}</td>
                    <td>${pos.entry_price}</td>
                    <td>${pos.ltp}</td>
                    <td>${pos.pnl}</td>
                    <td>${pos.status}</td>

                </tr>

            `;

        }

    }

    catch(error){

        console.log(error);

    }

}

// =========================================
// CANCEL
// =========================================

async function cancelSelected(){

    let selected = [];

    selectedOrders.forEach(value => {
        selected.push(value);
    });

    if(selected.length === 0){

        alert("Please select positions");
        return;

    }

    const response = await fetch(
        "/cancel-selected",
        {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({
                positions: selected
            })
        }
    );

    const result = await response.json();

    alert(result.status);

}
// =========================================
// TAB SWITCH
// =========================================

function showOrders(){

    document.getElementById("ordersSection").style.display = "block";
    document.getElementById("positionsSection").style.display = "none";

}

function showPositions(){

    document.getElementById("ordersSection").style.display = "none";
    document.getElementById("positionsSection").style.display = "block";

}
function showMasterOrders() {

    document.getElementById("masterOrdersSection").style.display = "block";
    document.getElementById("masterPositionsSection").style.display = "none";

}

function showMasterPositions() {

    document.getElementById("masterOrdersSection").style.display = "none";
    document.getElementById("masterPositionsSection").style.display = "block";

}
// =========================================
// AUTO REFRESH
// =========================================

refreshPositions();
refreshCopyPositions();
refreshMasterPositions();

setInterval(() => {

    refreshPositions();
    refreshCopyPositions();
    refreshMasterPositions();

}, 2000);

</script>

</body>

</html>